# rinne/.github/CODEOWNERS
*                                   @Mizunandayo
/.github/                           @Mizunandayo
/infra/                             @Mizunandayo
/packages/contracts/schemas/        @Mizunandayo